<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<a href = "anotherpage" class = "btn">Another Page</a>
	<h1>Welcome Home Champ !!</h1>
		
	<a href ="/logout" class = "btn red">Logout </a>
</body>
</html>