<!DOCTYPE html>
<html>
  <head>
    <title>Login Please</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   	<form method="POST" action ="login" >
   		<p>
	   		<label for="username">Username : </label> <input type="text" class = "username" name = "username">
	   		
	   	</p>
	   	<p>
	   		<label for="password">Password : </label> <input type="password" class = "password" name = "password">

	   	</p>
   		<input type="submit" value = "Login" />
   	</form>
	<br>
	<br>
   	<i>In case you dont know the username and pass, It is 
   		<br />
		Username :  <b> azhar</b> <br />
		Password :  <b>12345</b>

   	</i>
  </body>
</html>